.CENTERFLEX {
	display: flex;
	justify-content: center;
	align-items: center;
}
.FULLVIEWPORT {
	width: 100vw;
	height: 100vh;
}

$fontFamily: 'Montserrat', sans-serif;
$blue: #00a8ff;
$gray: #868686;
$red: #ff0000;
$green: #00ff00;
$yellow: #ffff00;
$white: #ffffff;
$black: #000000;